

.sectionE1{    width: 100%;
    display: flex;
    text-align: center;
    justify-content: space-between;
    margin: 15px;}
.articleE1{border: 1px solid grey}
.articleE2{border: 1px solid grey;
    width: 1070px;
    height: 120px;
    padding: 15px;}
.pres{margin-left: 15px; margin-right: 15px; display: flex;flex-direction: column;}
.h210 .hr10{border: none;
border-bottom: 1px solid #b68d47}
.h210{margin-left: 50px;
    font-family: 'Source_Sans_Pro';}

#hr101{ border-bottom: 5px solid #b68d47;margin-left: 50px;
    margin-right: 50px;
 }





.div1{ display: flex;
	width: 100%;
	justify-content: center;
 }
.section1{

display: flex;
height: 230Px; 
width: 890px;
overflow-x:scroll; 

}
.section2{

display: flex;
justify-content: space-around;
width: 815px;
overflow-x:scroll; 
box-shadow: 10px 5px 5px grey;
border: 1px solid grey;
margin-bottom: 10px;

}
.art222{color: grey;}
#img21{
    height: 350px;margin-top: 35px;box-shadow: 10px 5px 5px grey;
    border: 1px solid grey;margin-left: 5px;width: 300px;

}
#img33{width: 550px;height: 350px;    padding: 15px;}
.art22{text-align: justify;padding: 15px;}
.article1{margin-left: 15px;

}
.article2{}
.article3{}


.article4{}
.article1,.article2,.article3,.article4,.article5,.article41,.article42{margin-left: 25px; }
#img1,#img2,#img3,#img4,#img5,#img6{width: 150px;
    height: 150px;box-shadow: 10px 5px 5px grey;
 }

.titreArticle{text-align: center;}
